app = "instagram-debater"
primary_region = "yyz"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 8080
min_machines_running = 0
processes = [ "app" ]

[processes]
app = "uvicorn dashboard:app --host 0.0.0.0 --port 8080 --log-level info"
webhook = "python run_webhook.py"
worker = "python main.py"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 256
