# fly.toml app configuration file generated for instagram-debater on 2026-02-07T05:38:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'instagram-debater'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"
  
[[services]]
  [http_service]
    internal_port = 8080
    force_https = true
    auto_stop_machines = 'stop'
    auto_start_machines = true
    min_machines_running = 0
    processes = ['app']
    [[services.ports]]
      port = 80
  [http_service]
    internal_port = 8000
    auto_stop_machines = 'stop'
    auto_start_machines = true
    min_machines_running = 0
    [[services.ports]]
      port = 8000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
